{{- define "main" }}
 
<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

<div class="post-content">
    <table>
    <tr><td></td><td></td></tr>
    {{- if .Params.source }}<tr><td>source</td><td>{{ .Params.source }}</td></tr>{{- end }}
    {{- if .Params.cookTime }}<tr><td>cookTime</td><td>{{ .Params.cookTime }}</td></tr>{{- end }}
    {{- if .Params.prepTime }}<tr><td>prepTime</td><td>{{ .Params.prepTime }}</td></tr>{{- end }}
    {{- if .Params.totalTime }}<tr><td>totalTime</td><td>{{ .Params.totalTime }}</td></tr>{{- end }}
    {{- if .Params.preheat }}<tr><td>preheat</td><td>{{ .Params.preheat }}</td></tr>{{- end }}
    {{- if .Params.yield }}<tr><td>yield</td><td>{{ .Params.yield }}</td></tr>{{- end }}
    </table>
</div>

  {{- if .Params.ingredientSets }}
  <div class="post-content">
    {{- range .Params.ingredientSets}}
    <h2>{{ .name }}</h2>
    <table>
      {{- range .ingredients }}
      <tr><td>{{ .amount | markdownify }}</td><td>{{ .description | markdownify }}</td></td></tr>
      {{- end}}
    </table>
    {{- end}}
  </div>
  {{- end }}

  {{- if .Params.directionSets }}
  <div class="post-content">
    {{- range .Params.directionSets}}
    <h2>{{ .name }}</h2>
    <ol>
      {{- range .steps }}
      <li>{{ . | markdownify }}</li>
      {{- end}}
    </ol>
    {{- end}}
  </div>
  {{- end }}

  {{- if .Params.Notes }}
  <div class="post-content">
    <h2>Notes</h2>
    <ol>
    {{- range .Params.Notes}}
      <li>{{ . | markdownify }}</li>
    {{- end}}
    </ol>
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
